.env
.env.*
!.env.example

.gocache/
.gomodcache/

*.exe
*.test
*.out
coverage.out

*.tar
*.tar.gz
*.zip

tmp/
dist/
build/

.idea/
.vscode/
.DS_Store
Thumbs.db

deployments/k8s/secret.yaml
kubeconfig*
